        <div class="genlist-widget-inner opsportal-widget-container">
		<div class="opsportal-widget-masthead">
			<div class="opsportal-widget-title-container">
				<h2 class="opsportal-widget-title"><%= title %></h2>
				<div class="opsportal-widget-button-icon">
					<a class="hris-tooltip genlist-button-edit tt" href="#" title="Edit Attribute Sets" data-placement="right"><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
					<a class="hris-tooltip genlist-button-add tt" href="#" title="Add New" data-placement="right"><span class="icon"><i class="fa fa-plus-square fa-fw"></i></span></a>
				</div>
			</div>
			<% if (description) { %>
			<div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc"><%== description %></p></div>
		    <% } %>
		</div>
		<div class="opsportal-nav-list">
            <ul class="genlist-list list-unstyled">
    
            </ul>
		</div>
		</div>
