<div class="hide">
  <h4>Menu Item Properties</h4>
  <div class="form-horizontal">

    <!--label--> 
    <div class="form-group">
      <label class="col-sm-3 op-css-nopadL control-label op-css-lbl-title">Label:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="label">
      </div>
    </div>
    <!--/label-->

    <!--Date-->
    <div class="form-group">
        <label class="col-sm-3 control-label op-css-nopadL op-css-lbl-title">Icon:</label>
        <div class="col-sm-9">
          <select class="form-control">
            <option value="one">Special Icon Selector<option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
          </select> 
        </div>
    </div>
    <!--/Date-->
  </div>
  <button class="btn btn-primary" style="margin-right:20px">Delete</button>
  <button class="btn btn-primary" style="margin-right:20px">Cancel</button>
  <button class="btn btn-primary">Save</button>
</div>