language: node_js
node_js:
- "0.12"

sudo: false

before_script:
- npm install -g  balderdashy/sails appdevdesigns/appdev-cli
- cd /tmp
- /home/travis/build/appdevdesigns/appdev-opsportal/test/setup/install.sh
- cd ad-test/node_modules
- rm -Rf appdev-opsportal
- mv /home/travis/build/appdevdesigns/appdev-opsportal .
- cd appdev-opsportal
- npm install

script:
- npm test
 
