<!--
#  Appdev Label Info:
#label_context:opsportal
#language_code:en
-->

<div class="container-fluid">
	<div id="container-webix-layout" style="clear:both">
		<!-- dynamic content to be loaded here-->
	</div>
</div>


