<!--
#  Appdev Label Info:
#label_context:opsportal
#language_code:en
-->


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>
				<span app-label-key="optheme.header">OP Theme</span>
			</h2>
			<p>
				<span app-label-key="optheme.description">Choose a theme or create a new one:</span>
			</p>
			<div class="row">
				<div class="col-md-4">
					<h2>
						<span app-label-key="optheme.currentThemes">Current Themes:</span>
					</h2>
					<select multiple class="no-boxbord optheme-list" name="theme">
                      <!-- themes.forEach(function(theme){  -->
                      <option class='optheme-list-item' value="[[= theme.name ]]">[[= theme.name ]]</option>
                      <!--  }) -->
                    </select>
					<button type="button" class="btn btn-primary optheme-default">
						<i class="fa"></i><span app-label-key="optheme.setDefault">Default</span>
					</button>
				</div>
				<div class="col-md-8">
					<form id="optheme-form" method="POST" action="/optheme">
						<table class="table optheme-theme-controls">
							<tr>
								<td><span app-label-key="optheme.createTheme">Create Theme: </span></td>
								<td>
									<table class="table optheme-color-pickers">
										<tr>
											<td><span app-label-key="optheme.themeName">Theme Name</span></td>
											<td><input type="text" name="name"></td>
										</tr>
										<tr>
											<td><span app-label-key="optheme.bodyBackground">Body Background:</span></td>
											<td><input type="color" class="optheme-color-picker" name="vars[bodyBG]"></td>
											<td><span app-label-key="optheme.headerBackground">Header Background:</span></td>
											<td><input type="color" class="optheme-color-picker" name="vars[headerBG]"></td>
										</tr>
										<tr>
											<td><span app-label-key="optheme.headerColor">Header Color:</span></td>
											<td><input type="color" class="optheme-color-picker" name="vars[headerColor]"></td>
											<td><span app-label-key="optheme.navigationBackground">Navigation BG:</span></td>
											<td><input type="color" class="optheme-color-picker" name="vars[navBG]"></td>
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<td></td>
								<td><input type="submit" class="btn btn-primary optheme-addTheme" value="Create"></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

