<div>

<!-- SUBMITSUCCESS -->
<div id="feedback-submit-success">
    <div class="feedback-logo"><%= t('Feedback') %></div>
    <p><%= t('Thank you for your feedback. We value every piece of feedback we receive.') %></p>
    <button class="feedback-close-btn feedback-btn-blue"><%= t('OK') %></button>
    <div class="feedback-wizard-close"></div>
</div>

</div>