<div>

<!-- SUBMITERROR -->
<div id="feedback-submit-error">
    <div class="feedback-logo"><%= t('Feedback') %></div>
    <p><%= t('Sadly an error occured while sending your feedback. Please try again.') %></p>
    <button class="feedback-close-btn feedback-btn-blue"><%= t('OK') %></button>
    <div class="feedback-wizard-close"></div>
</div>

</div>