/*body{
    margin:0;
	color:#666 !important;
	font-size:12px;
	background-color: #F1F4F6 !important;
}
*/
.box-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(235, 235, 235, 1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(235, 235, 235, 1);
	box-shadow: 0px 0px 5px 0px rgba(235, 235, 235, h1);
}


* {outline:none !important;}

p {font-size:14px;}


th, label {
/*	color:#5D95D5;*/
	font-size:14px;
	font-weight:normal;	
}

.nobgcolor {background-color:transparent !important;}
.align-left { text-align:left;}

.align-right { text-align:right;}

.align-center {text-align: center;}	

.float-right {float:right;}


.clear {clear:both}	
	
.mrgntop20 {marging-top:20px;}

.lbl-title {font-size:15px;line-height:15px;}

.lbl-title span {font-size:12px; font-style:italic}




.dragNdrop {
	display:inline-block;
	width:61px;
	height:57px;
	font-size:57px;
	margin-right:5px;
	margin-left:10px;
	margin-top:10px;
}



.dragNdrop p {
	position: relative;
    bottom: 19px;
    display: block;
    background-color: #000;
    color: #fff !important;
	text-indent:3px;
	padding:3px;
}

.mlabel {
	font-size: 20px;
    line-height: 75px;
    vertical-align: top;
}

.boxcenter {
	margin: 0 auto;
    float: none;
    padding: 0;
}

#slang select {width:100%}

#slang label {float:left}


/*TOP MENU BAR*/

.op-widget-horizontal-nav li.selected {background:url(../../images/opsportal/arrow-down-gray.png) center 68px no-repeat;;opacity:1 !important}

.pgnav .active {background:url(../../images/opsportal/arrow-down.png) center 38px no-repeat;}
		
.working-area {
	margin-left:210px;
	margin-top:20px;	
}
	
/* TOP MENU BAR*/	

/*BODY AREA */

.people {
	width: 22%;
	display: inline-block;
	margin-right:15px;
	background-color: #E6E6E2;
	}


.workspace .op-block-border {padding:15px 15px 15px;}
#submittedby .op-block-border {padding:0 15px;}
#objective .checkbox label {margin-bottom:5px;}

.op-widget-horizontal-nav li i {float:left;margin:3px 6px 0;font-size:35px;}

/*END BODY AREA */

.nopadLR {
	padding-left:0 !important;
	padding-right:0 !important; 
}

.nopadR {padding-right:0}
.nopadL {padding-left:0}

.nomargintop {margin-top:0}

.nomargin {
	margin-left:0 !important;
	margin-right:0 !important;
	}

.normalform {
	padding: 8px 0;
}


.offset-10 {
	margin-right:10px;
}

.offset-15 {
	margin-right:15px;
}

.offset-9 {
	margin-right:9px;
}

.offset-5 {
	margin-right:5px;
	
}

.off-top10 {
	margin-top:10px;
}

.off-top20 {
	margin-top:20px;
}

.off-top15 {
	margin-top:15px;
}

.off-top10 {
	margin-top:10px;
}

.off-top35 {
	margin-top:35px;
}



.off-botm5 {
	margin-bottom:5px;
}

.off-botm10 {
	margin-bottom:10px;
}

.off-botm50 {
	margin-bottom:50px;
}


.off-botm8 {
	margin-bottom:8px;
}

.padtop20 {
	padding-top: 20px;
}

.padtop2 {
	padding-top: 2px;
}

.padleft5 {padding-left:5px;}
.padleft10 {padding-left:10px;}
.padleft15 {padding-left:15px;}
.padleft20 {padding-left:20px;}

.padtop10 {padding-top: 10px;}

.padtop15 {padding-top: 15px !important;}
.padtop40 {padding-top:40px}

.padbot15 { padding-bottom:15px !important;}

.padbot10 { padding-bottom:10px !important;}
	
.padbot55 { padding-bottom:55px !important;}

.center {text-align:center}

.btn {
	border-radius: 3px !important;

}


a:hover {
	text-decoration:none !important;
}

a:focus {
	text-decoration:none !important;
}

.no-boxbord {
	border: none;
    box-shadow: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.wrapper {top:74px}

#op-masthead-nav ul {margin:0;z-index:99;}

.pgnav li {height:55px;}

#topmenu li {
	float:left;
	display:block;
	padding:10px 17px 0 22px;
	text-align:center;
	height:82px;
	
}

#topmenu .badge {
	font-size:10px;
	}

.stats-green {

	background-color: #93cd60 !important;
	width: 20px;
	height: 20px !important;
	
}
	
.stats-red {
	background-color: #e27c79 !important;
	width: 20px;
	height: 20px !important;	
}

#users-area .panel-body {
	padding: 15px 5px 5px;
}

.panel-default>.panel-heading {
	background-color:#333;
	background-image:none;
	color:#eaeaea !important

	}
	
#users-area select {
	padding: 0;
	width:100%;
	overflow:auto;
	min-height:172px;
}

#users-area option {
	margin-bottom:10px;
}

#search1, #search2 {padding:9px 0}

#userdisplay {float:left;}

#userlist-tbl {margin-bottom:10px;}

.form-inline button {margin-right:0}

/* OVERIDE FROM OTHER CSS FILES */

.badge {
	border-radius:50%;
	padding:5px;
	position:relative;
	bottom:12px;
	}

.op-list li a {
	opacity:1;
}	

.img-thumbnail {
	box-shadow:none;
	border:0;
}	

.webix_view.webix_form {
	background-color: transparent;
}


.tab-content {
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}


.dropdown-menu { left: -96px; position:absolute !important;}

.dropdown-menu li {display:block;float:none !important; }
.dropdown-menu li a {margin:5px 0 !important;padding:5px 20px}
.dropdown-menu li a:hover {background:#f0f0f0;color:#333}


li.sep {

	width:1px;
	height:69px !important;
	margin:0 auto !important;
	padding:0 !important;
	background:#333;
	
	}

.lowscreen-drop {
    top: 50px;
    left: 0;
    border-radius: 0;	
}

	.lowscreen-drop .badge {
		   bottom: 25px;
	}
	
	.lowscreen-drop i {
		margin-left:7px;
	}
	


@media (max-width: 331px) {
	.op-list {
		/* position: relative; */
		list-style: none;
	left: -29px;
	}
	
	#topmenu li {
		float: left;
		display: block;
		padding: 10px 13px 0 20px;
		text-align: center;
	}

	#lowscreen-menu {
		display:block !important;
	}
	
	#lowscreen-menu i{
		line-height:69px;
	}	
	#topmenu {
		display:none !important;
	}

	#op-masthead-nav .col-lg-11, #op-masthead-nav .col-lg-1{
		padding-right:0 !important;
		padding-left:0 !important;
		
	}
}

@media (max-width: 1200px) {
	
	.mid-screen-mrgn-l-15 {
		margin-left:20px;
	}

	.mid-screen-mrgn-lr-15 {
		margin-left:20px;
		margin-right:20px;
	}
	
	.navbar-form  {
		margin-left:0
	}
}

@media (max-width: 767px) {
	

 }
 
@media (max-width: 979px) {
  
}

 @media (min-width: 768px) and (max-width: 979px) {


 }








 .rank .webix_cell, .rank.webix_hcell {
	text-align:center;
}
.dummy_button{
	margin-bottom:4px;
	width:100%;
}
.sample_button{
	width:250px;
	display:block;
	margin-left:20px;
	margin-top:5px;
}

.padding_less .webix_cell{
	padding:0px;
	text-align:center;
}
.padding_less input{
	height:20px;
	width:80px;
}
.sample_comment{
	font-family:Tahoma;
	font-size:12px;
	margin:10px;
}
.header_comment{
	font-family:Tahoma;
	font-weight:bold;
	font-size:12px;
	margin:18px 10px 20px 10px;
}
.right_area.webix_column>div:nth-child(even){
	background-color:#ffffdd;
}
.right_area.webix_column>div:nth-child(odd){
	background-color:#ffffee;
}
.left_area.webix_column>div:nth-child(even){
	background-color:#ffffdd;
}
.left_area.webix_column>div:nth-child(odd){
	background-color:#ffffee;
}

.log_record{
	font-family:Tahoma;
	font-size:12px;
	margin:10px;	
}

#testA, #testB, #testC, #testD, .paging{
	margin-left:20px;
	margin-top:10px;
}
.paging {
	width:900px;
}
 
