
.op-navbar-editbutton{
	color: #fff;
    text-align: center;
    display: block;
    margin: 0px 0 10px; 
    padding-top: 10px;
	}
	
	
.op-navbar-lpanel {
	background:#444;
	width:230px;
	min-height:315px;
	display:none;
	padding-bottom:5px;
	overflow:hidden;
	}

.op-navbar-lpanel .container .col-sm-6:first-child {border-right:2px solid #736d6d;}	
		

.op-navbar-area-menu {padding:0; text-align:center;}
.op-navbar-area-menu li {opacity:1 !important; }
.op-navbar-area-menu li a{color:#fff; }

.addtbtn .add, .savebtn .btn { width: 100% !important;}


#op-navbar-edittools .popover {width:276px;}


.popover-content h4, .popover-title .close{ color:#fff !important; opacity:1; }

.popover-title .close {margin:0 !important;}
	




#op-navbar-left li a {
	display:inline-block;
	color:#f1f1f1;
	padding: 5px 5px;
	width: 123px;
}

#op-navbar-left li .close {
	padding: 0px;
}

#op-navbar-left li i {
	color: #f1f1f1;
}


#op-navbar-left li {
	border: 1px solid #969696;
	padding:0;
	margin:18px 15px;
	cursor: pointer;

}

#op-navbar-left .popover-title { line-height: 25px; }

.op-navbar-item-edit {
	float: right;
    display: block;
    width: 18px;
    height: 30px;
    padding-top: 8px;
	color:#c5c5c5;	

	}

#op-navbar-left { padding:0; list-style: none;}


.op-navbar-tool li .showbtmPopover {
    display: block;
    color: #fff;
    float: right;
}

.op-navbar-tool li .toollink {
	display: inline-block;
    color: #fff;
    padding: 5px 5px;
    float:left;
}

.op-navbar-tool li .nav-icon-edit {
		margin-right: 5px;
}

.op-navbar-tool .sort-handle {
    display: block;
    background-color: #fff;
    width: 20px;
    height: 32px;
    float: left;
    margin-right: 0px;
}

.op-navbar-tool li .close {
	margin: 0;
}

.op-navbar-tool li{
	display:inline-block;
	float: none;
	min-width: 92px;
    border: 1px solid #fff;
    padding: 0;
    margin: 0px 8px;	
	cursor:pointer;
}
.op-navbar-tool .sort-handle{
	display:block;
    background-color: #fff;
    width: 20px;
	height: 32px;
    float: left;
    margin-right: 0px;	
}


ul.op-navbar-tool {
	margin-top:16px;
	overflow: inherit !important;
	/*display: block;
	white-space: nowrap;
	overflow-x: scroll;
	width: 1200px;*/

}



.ops-navbar-tooldeflist {
	min-width: 150px;
	/*width: */
    display: inline-block;
    border: none;
    padding: 0;
    margin-left: 15px;
}

.ops-navbar-toolspinner {
	display: inline-block;
	color: #fff;
	position: absolute;
	left: 0px;
	top: 10px;
}

.sort-handle {
	display:block;
    background-color: #d0d0d0;
    width: 25px;
    height: 30px;
    float: left;
	text-align:center;
	margin-right:5px;
	
	}

.sort-handle:hover, .op-navbar-item-edit:hover, #op-navbar-left li a:hover {
    color: #fff;
	}

.sort-handle i { vertical-align: -webkit-baseline-middle; }

.op-navbar-tool .sort-handle i {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}





