<!-- 
#  Appdev Label Info:
#label_context:opsportal
#language_code:en
-->
<div class="panel panel-default op-container">
        <a href="#" ><span app-label-key="opp.error">Error:</span> <%= errorMessage %> </a>
</div>