<div class="panel panel-default opsportal-container">
    <div class="opsportal-container-masthead">
        <a class="opsportal-masthead-link opsportal-menu-trigger" href="#"><span class="icon"><i class="fa fa-bars"></i></span> <span class="opsportal-menu-trigger-text">Menu</span> &nbsp;<span class="badge">16</span></a>

		<div class="opsportal-nav-sub-list">
			<ul class="list-unstyled list-inline">
			<li><a href="#" class="opsportal-masthead-link" role="button">Sublink 1</a></li>
			<li><a href="#" class="opsportal-masthead-link" role="button">Sublink 2</a></li>
			<li><a href="#" class="opsportal-masthead-link" role="button">Sublink 3</a></li>
			</ul>
		</div>
    </div>
    <!-- <div class="panel-body"> -->
    <div class="opsportal-fill">
        <div class="opsportal-menu-widget"></div>
        <div class="opsportal-content">
        </div>
    </div>
</div>