<!--<div class="container">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<a href="#" class="op-launch"> Launch OpsPortal </a>
		</div>
	</div>
</div>-->
<div class="panel panel-default op-container">
    <div class="op-masthead">
        <a href="#">Enter the Portal <!-- <span class="badge">16</span> --></a>
    </div>

    <div class="opsportal-list-area">
        <div class="opsportal-tasklist-menu-widget"></div>
        <!-- <div id="opsportal-loading" class="opsportal-content opsportal-loading-global"><div></div></div> -->
    </div>
</div>