<!-- 
#  Appdev Label Info:
#label_context:opsportal
#language_code:en
-->
<div class="panel panel-default op-container">
    <div class="op-masthead">
        <a href="#"><span app-label-key="opp.enterPortal">Enter the Portal </span><!-- <span class="badge">16</span> --></a>
    </div>

    <div class="opsportal-list-area">
        <div class="opsportal-tasklist-menu-widget"></div>
        <!-- <div id="opsportal-loading" class="opsportal-content opsportal-loading-global"><div></div></div> -->
    </div>
</div>