<div class="panel panel-default opsportal-container">
    <div class="opsportal-container-masthead">
        <a class="opsportal-masthead-link opsportal-menu-trigger" href="#"><span class="icon"><i class="fa fa-bars"></i></span> <span class="opsportal-menu-trigger-text">Ops Portal (narrow) </span> &nbsp;<span class="badge">16</span></a>
    </div>
    <!-- <div class="panel-body"> -->
    <div class="opsportal-list-area">
        <div class="opsportal-tasklis-menu-widget"></div>
        <!-- <div id="opsportal-loading" class="opsportal-content opsportal-loading-global"><div></div></div> -->
    </div>
</div>