<!-- 
#  Appdev Label Info:
#label_context:opstool-RBAC
#language_code:en
-->

<div style="display:none;">
  Labels not in HTML but needed in tool:
  <span app-label-key="rbac.users.userID">User ID</span>
  <span app-label-key="rbac.users.status">Status</span>
  <span app-label-key="rbac.users.enabled">Enabled</span>
  <span app-label-key="rbac.user.noUserSelected">no user selected</span>
  <span app-label-key="rbac.user.search">search for users</span>
  <span app-label-key="rbac.roles.search">search for roles</span>
  <span app-label-key="rbac.roles.name">Name</span>
  <span app-label-key="rbac.roles.description">Description</span>
  <span app-label-key="rbac.roles.confirmClone">Clone role %s</span>
  <span app-label-key="rbac.roles.confirmDelete">This will remove %s</span>
  <span app-label-key="rbac.roles.searchActions">search for actions</span>
</div>


          <!--Top Menu-->
          <div  class="op-widget-horizontal-nav">
            <ul id="topmenu" class="op-list">
              <li class="op-container selected rbac-menu" rbac-menu="Users">
                <a  mockup-show="users" href="#user"><i class="fa fa-users"></i><br><strong>
                <span app-label-key="rbac.Users">Users</span></strong><span class="badge"></span></a>
              </li>
              <li class="sep"></li>
              <li class="op-container rbac-menu" rbac-menu="Roles">
                <a  mockup-show="roles" href="#roles"><i class="fa fa-user-md"></i><br><strong>
                <span app-label-key="rbac.Roles">Roles</span></strong><span class="badge"></span></a>
              </li>
              <li class="sep"></li>
              <li class="op-container rbac-menu" rbac-menu="Scopes">
                <a  mockup-show="scopes" href="#scopes"><i class="fa fa-street-view" style="margin-left:12px"></i><br><strong>
                <span app-label-key="rbac.Scopes">Scopes</span></strong><span class="badge"></span></a>
              </li>
            </ul>
            <!--- menu button for low screen only -->
              <a id="lowscreen-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none;">
               <i class="fa fa-bars fa-3x"></i>
              </a>
              <ul class="dropdown-menu lowscreen-drop" aria-labelledby="lowscreen-menu" style="position:absolute">
                <li class="op-container ">
                  <a class="rbac-menu" rbac-menu="users" mockup-show="users" href="#user"><i class="fa fa-calendar fa-2x"></i><br><strong>
                  <span app-label-key="rbac.Users">Users</span></strong><span class="badge">16</span></a>
                </li>
                  <li class="op-container">
                  <a class="rbac-menu" rbac-menu="roles" mockup-show="roles" href="#roles"><i class="fa fa-calendar fa-2x"></i><br><strong>
                  <span app-label-key="rbac.Roles">Roles</span></strong><span class="badge"></span></a>
                </li>
                <li class="op-container">
                  <a class="rbac-menu" rbac-menu="scopes" mockup-show="scopes" href="#scopes"><i class="fa fa-photo fa-2x"></i><br><strong>
                  <span app-label-key="rbac.Scopes">Scopes</span></strong><span class="badge"></span></a>
                </li>
              </ul>           
            <!---/-->
          </div>
          <!--/Top Menu-->

          <div class="op-container clear wrapper">
          <!--Users Area-->
          <div id="users-area" class="op-container mockup-display users rbac-users">
            <div class="row nomargin">
                <div class="col-lg-4 col-md-6 padbot55 rbac-user-div">              
                  <div class="nopadL form-inline" role="search">
                    <div class="input-group" id="search1"></div>
                  </div>
                  <div id="userlist-tbl" style="clear:both"></div>
                  <div id="paging_here" class="padleft20"></div>
                  <script type="text/javascript" charset="utf-8">

                  </script>
                
                </div>
                
                <div class="col-lg-4 col-md-6  rbac-user-display">
                  <div class="form-inline">
                    <div class="input-group" id="userdisplay"></div>
                    <button  class="btn op-btn btn-primary pull-right off-top10 rbac-user-addPermission" app-label-key="rbac.user.add" >add</button>
                  </div>
                  <div id="rolesNscopes" class="clear" style="height:240px"></div>
                          
                </div>
                
                <div class="col-lg-4 col-md-12 rbac-user-roleScope">
                  <p app-label-key="rbac.user.selectSomeStuff">Select a role and one or more scopes for this assignment:</p>
                  <div class="row rbac-user-roleScope-form">
                    <div class="col-lg-6 col-xs-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"><span app-label-key="rbac.Roles">Roles</span></div>
                          <div class="panel-body">
                            <select multiple class="no-boxbord" name="role">
                              <!-- roles.forEach(function(role){ 
                                      if (excludeIDs.indexOf(role.id) == -1) {
                              --> 
                              <option class='rbac-only-one' value="[[= role.id ]]">[[= role.role_label ]]</option>
                              <!--    }
                                    }) -->
                              <option class="mockup">role 2</option>
                              <option class="mockup">role 3</option>
                              <option class="mockup">role 4</option>
                              <option class="mockup">role 5</option>
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"><span app-label-key="rbac.Scopes">Scopes</span></div>
                          <div class="panel-body">
                            <select multiple class="form-control no-boxbord" name="scope">
                              <!-- scopes.forEach(function(scope){ -->
                              <option value="[[= scope.id ]]">[[= scope.attr('label') ]]</option>
                              <!-- }) -->
                              <option class="mockup">role 2</option>
                              <option class="mockup">role 3</option>
                              <option class="mockup">role 4</option>
                              <option class="mockup">role 5</option>
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row off-botm10">
                    <div class="col-lg-12">
                      <button class="btn op-btn btn-primary pull-right rbac-user-addPerm-add" ><i class="fa"></i><span app-label-key="rbac.Add">Add</span></button>
                      <button class="btn op-btn op-btn-dk offset-15 pull-right rbac-user-addPerm-cancel" ><span app-label-key="rbac.Cancel">Cancel</span></button>
                    </div>                  
                  </div>
                </div>

                <div class="col-lg-4 col-md-12 rbac-user-roleScopeEdit">
                  <p app-label-key="rbac.user.selectSomeStuffEdit">Select one or more scopes for this Role assignment:</p>
                  <div class="row rbac-user-roleScopeEdit-form">
                    <div class="col-lg-6 col-xs-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"><span app-label-key="rbac.Roles">Roles</span></div>
                          <div class="panel-body">
                            <select multiple class="no-boxbord" name="role" disabled >
                              <!-- roles.forEach(function(role){ --> 
                              <option class='rbac-only-one' value="[[= role.id ]]" selected >[[= role.attr('role_label') ]]</option>
                              <!-- }) -->
                              <option class="mockup">role 2</option>
                              <option class="mockup">role 3</option>
                              <option class="mockup">role 4</option>
                              <option class="mockup">role 5</option>
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"><span app-label-key="rbac.Scopes">Scopes</span></div>
                          <div class="panel-body">
                            <select multiple class="form-control no-boxbord" name="scope">
                              <!-- 
                              scopes.forEach(function(scope){ 
                                  
                                  if (selectedScopes.indexOf(scope.id) != -1) {
                                    -->
                                    <option selected="selected" value="[[= scope.id ]]"  >[[= scope.attr('label') ]]</option>
                                    <!--
                                  } else {
                                    -->
                                    <option value="[[= scope.id ]]"  >[[= scope.attr('label') ]]</option>
                                    <!--

                                  }

                               }) -->
                              <option class="mockup">role 2</option>
                              <option class="mockup">role 3</option>
                              <option class="mockup">role 4</option>
                              <option class="mockup">role 5</option>
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row off-botm10">
                    <div class="col-lg-12">
                      <button class="btn op-btn btn-primary pull-right rbac-user-editPerm-update" ><i class="fa"></i><span app-label-key="rbac.Update">Update</span></button>
                      <button class="btn op-btn op-btn-dk offset-15 pull-right rbac-user-editPerm-cancel" ><span app-label-key="rbac.Cancel">Cancel</span></button>
                    </div>                  
                  </div>
                </div>
            </div>
          </div>
          <!--/Users Area-->
          <!--Roles Area-->
          <div id="roles-area" class="op-container mockup-display roles rbac-roles" style="display:none">
            <div class="row op-container nomargin">


                <div class="col-lg-4 ">
                  <div class=" form-inline" >
                    <div class="input-group pull-left" id="search2"></div>
                    <button  class="btn op-btn btn-primary pull-right off-top10 rbac-role-addRole" app-label-key="rbac.user.add" >add</button>
                  </div>
                  <div id="userlist-tbl-role" style="padding-bottom:10px;clear:both"></div>
                  <div id="pgb" class="padleft20"></div>
                </div>
              

                
                <div class="col-lg-8 rbac-roles-form">
                  <div  id="rbac-roles-form">
                  
<!--                   <div class="form-group">
                    <p class="lbl-title" app-label-key="rbac.roles.name">Role Name</p>
                    <input id="role_label" type="text" class="form-control" name="role_label" placeholder="rbac.roles.label" value="Ex Pat">
                  </div>                
                  <div class="form-group">
                    <p class="lbl-title" app-label-key="rbac.roles.description">Description</p>
                    <textarea id="role_description" class="form-control" rows="3" name="role_description" placeholder="rbac.roles.descriptionPlaceholder">This role is useful for foreigners who need to have their Visas managed.</textarea>                   
                  </div> -->
                  </div>
                  <div id="roletab">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#actionstab" aria-controls="actionstab" role="tab" data-toggle="tab"><span app=label-key="rbac.roles.tabActions">Actions</span></a></li>
                      <li role="presentation"><a href="#datafieldtab" aria-controls="datafieldtab" role="tab" data-toggle="tab"><span app=label-key="rbac.roles.tabDataFields">Data Fields</span></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content padbot10 off-botm10">
                      <div role="tabpanel" class="tab-pane active" id="actionstab"  style="padding:17px;">
                          <div class="input-group" id="rbac-search-actions"></div>
                          <div id="rbac-grid-actions" style="padding-bottom:10px;clear:both;"></div>
                          <div id="rbac-pager-actions" class="padleft20"></div>
                      </div>
                      
                      <div role="tabpanel" class="tab-pane" id="datafieldtab"></div>
                    </div>

        
                  </div>                  
                </div>
            </div>
            
             
          </div>
          <!--/Roles Area-->
          <!--Scopes Area-->
          <div  class="op-container mockup-display scopes rbac-scopes" style="display:none">
             <div class="row op-container">

             There is actually something here.
             
             </div>
          </div>
          <!--/Scopes Area-->
        </div>