/* Default theme for FCF Project */

/* =Colors - Global */
body { 
	font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
	background-color: #3c766a ; 
	color: #333333;
}

.light-txt {color:#fff}

.light-bg {background:#fff}

a, a:hover, a:visited { 
	color: #333333; 
}

h1, h2, h3, h4, h5 { color: #666666; }

.overflow-h { overflow:hidden}

/* =Colors - Bootstrap Overrides */
.modal-content { 
	background-color: #f0f0f0; 
}

.tooltip-inner { background-color: #333333; }
.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow { border-top-color: #333333; }
.tooltip.right .tooltip-arrow { border-right-color: #333333; }
.tooltip.left .tooltip-arrow { border-left-color: #333333; }
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow { border-bottom-color: #333333; }
.popover, .popover-title { background-color: #333333; color: #ffffff; }
.popover-title { border-bottom-color: #666666; }
.popover.right .arrow, .popover.right .arrow:after { border-right-color: #333333; }
/* .btn, .btn:hover, .btn:focus, a.btn, a.btn:hover, a.btn:visited { color: #fff; border-color: transparent !important;} */

/* =Colors - OpsPortal */
.opsportal-widget { 
	background-color: #f6f6f6; 
}

.op-masthead { 
	background-color: #404040 
}

.op-masthead a, .op-masthead icon i { 
	color: #ffffff; 
}

.op-stage-masthead, .op-block-masthead { 
	border-bottom-color: rgba(0, 0, 0, 0.1); 
}
.op-block-border { 
	border-color: rgba(0, 0, 0, 0.1); 
}

.op-block-body ul { 
	border-left-color: rgba(0, 0, 0, 0.1); 
}
.op-block-body ul li {
    border-left-color: rgba(0, 0, 0, 0);
}
.op-block-body ul li:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
}

.op-widget { background-color: #f0f0f0; }
.op-widget h3 { color: #666666 !important; }
.op-widget p { color: #777777 !important; }

.op-widget .op-list li.active { 
	background-color: rgba(255, 255, 255, 0.65) !important; 
	border-top-color: rgba(0, 0, 0, 0.1); 
	border-bottom-color: rgba(0, 0, 0, 0.1); 
}
.op-widget .op-list li.active { 
	color: #333333; 
}

.op-toggle, .op-modal { 
	border-top-color: rgba(0,0,0,0.1); 
}

.op-icon i { 
	color: #333333; 
}
.op-icon-inverse { 
	color: #f0f0f0; 
}

.op-filter ul li:first-child { 
	color: #999999; 
}

.op-filter .filter-on { 
	background: #333 !important; 
	color: #fff; 
}

.op-avatar, .op-avatar-th { 
	border-color: rgba(0, 0, 0, 0.1); 
}
	
.op-menu-widget, #op-menu-widget { background-color: #444; }
.op-menu-widget ul li, .op-menu-widget .op-icon i { color: #fff !important; }

.op-block { background-color: #f0f0f0; }
.op-block-masthead h3 { color: #666666 !important; }

/* =Button Styles */
.op-btn { margin: 0 5px; opacity:.75;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; }
.op-btn:hover, .hris-btn:focus { opacity: 1; }
.op-btn-dk { color: #fff; background-color: #444444; }
.op-btn-dk:hover, .opsportal-btn-dk:focus { color: #fff; }
.op-btn-lt { color: #333333; background-color: #f0f0f0; }
.op-btn-lt:hover, .opsportal-btn-lt:focus { color: #333; }
.op-btn-wj { color: #333333 !important; background-color: transparent; border: 1px solid #c0c0c0 !important; }
.op-btn-wj:hover, .opsportal-btn-wj:focus { background-color: rgb(220,220,220); color: #333 !important; border: 1px solid #c0c0c0 !important; }
.op-btn-full { width: 100%; }
.op-btn-caret { float: right; margin-top: 10px; }
.btn-primary {	background-color:#40aff6 !important;color:#fff !important; background-image:none !important;}

.input-group-btn .btn {
	text-shadow: 0 1px 0 #fff !important;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%) !important;
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0)) !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border-color: #dbdbdb !important;
    border-color: #ccc !important;
	border-radius: 4px;
}

/* Table styles */
.op-table { 
	border-color: #FCF8E3; 
}
.op-table th { 
	background: #f5f5f5; 
	color: #333; 
}
.op-table tr.alt { 
	background: #fff; 
}


/*GLOBAL STYLES*/


.typeahead, .tt-query, .tt-hint {
    border: 1px solid #ccc;
    border-radius: 4px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}

ul {padding:0;margin:0}

.margin0 {margin:0}

.nomargintop {margin-top:0}

.nomargin {margin-left:0 !important;margin-right:0 !important;}

.normalform {padding: 8px 0;}

.offset-10 {margin-right:10px;}

.offset-15 {margin-right:15px;}

.offset-9 {margin-right:9px;}

.offset-5 {margin-right:5px;}

.off-top20 {margin-top:20px;}

.off-top10 {margin-top:10px;}

.off-top15 {margin-top:15px;}

.off-botm5 {margin-bottom:5px;}

.off-botm10 {margin-bottom:10px;}

.off-botm15 {margin-bottom:15px;}

.off-botm20 {margin-bottom:20px;}

.off-botm50 {margin-bottom:50px;}

.off-botm8 {margin-bottom:8px;}

.padtop20 {padding-top: 20px;}

.padtop2 {padding-top: 2px;}

.padtop10 {padding-top: 10px;}

.padtop15 {padding-top: 15px !important;}

.padtop40 {padding-top:40px}

.padleft5 {padding-left:5px;}

.padleft10 {padding-left:10px;}

.padleft15 {padding-left:15px;}

.padleft20 {padding-left:20px;}

.padR5 {padding-right:5px;}

.padR10 {padding-right:10px;}

.padR15 {padding-right:15px;}

.padR20 {padding-right:20px;}

.padbot15 { padding-bottom:15px !important;}

.padbot10 { padding-bottom:10px !important;}
	
.padbot55 { padding-bottom:55px !important;}

.padding10 {padding:10px}

.nopadBotm {padding-bottom:0;}

.nopadLR {padding-left:0 !important;padding-right:0 !important;}

.nopadR {padding-right:0}

.nopadL {padding-left:0}

.center {text-align:center}

.align-r { text-align: right; }

.align-l { text-align: left; }

.orange {color:#ef6316;}

.blue {color:#1971a3;}

.bgfont {font-size:14px;}

.font25 {font-size:20px;}

.fcf-blue-wrap {
	background-color:#1f6b8d;
	padding: 10px 15px;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;	
	-webkit-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
}

.light-blue-wrap {
	margin-bottom:20px;
	padding-bottom:20px;
	background-color: #bbd3d7;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);		
}



/* FCF Theme for Modal */

.fcf-theme-modal .modal-dialog {
	background-color:#1f6b8d;
	padding: 10px 15px;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;	
	-webkit-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.3);
}

.fcf-theme-modal .modal-content {
	background-color: transparent;
    box-shadow: none;
    border: none;
}

.fcf-theme-modal .modal-header {
	border-bottom: none !important;
	color: #fff;
	background-color:transparent;
}

.fcf-theme-modal .modal-body {
	margin-bottom:20px;
	padding-bottom:20px;
	background-color: #bbd3d7;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 6px 1px rgba(0,0,0,0.3);
}

@media (max-width: 676px) {

#landing {
	width:600px;
}

}

@media (max-width: 767px) {
	


 }
 
@media (max-width: 979px) {
  

}

 @media (min-width: 768px) and (max-width: 979px) {

	#landing {
		width:700px;
	}
 }


