
			<li>
				<div class="opsportal-nav-list-item"  area="<%= area.key %>" >
					<% if (area.key != 'profile'){ %><span class="badge pull-right">8</span><% } %>
					<span class="icon opsportal-item-icon"><i class="fa fa-fw opsportal-icon-fw  <%= area.icon %>"></i></span><%= area.label %>
				</div>
			</li>
			