<li class="op-container" area="<%= area.key %>">
	<% if (area.key != 'profile'){ %><span class="badge pull-right">8</span><% } %>
	<span class="icon op-icon"><i class="fa fa-fw op-icon-fw <%= area.icon %>"></i></span><%= area.label %>
</li>
