<div class="op-widget" id="op-menu-widget">
	
	<div class="op-widget-body">
		<ul class="op-list" id="op-list-menu">
			
		</ul>
	</div>

	<div class="op-widget-footer">
		<a class="op-toggle" href="#" title="appDev Designs">
		  <img src="<%= baseURL %>/images/appdev_logo_white.png" style="width: 70px; height: auto;" />
        </a>
	</div>
</div>