/* Begin Variables */
#bodyBG {color:$bodyBG};

#headerColor {color:$headerColor};
#headerBG {color:$headerBG};

#navColor {color:$navColor};
#navBG {color:$navBG};

#paginationBtnColor {color:$paginationBtnColor};
#paginationBtnBG {color:$paginationBtnBG};

#paginationActiveBtnColor {color:$paginationActiveBtnColor};
#paginationActiveBtnBG {color:$paginationActiveBtnBG};

#btnColor {color:$btnColor};
#btnBG {color:$btnBG};

#navBtnColor {color:$navBtnColor};
#navBtnBG {color:$navBtnBG};

#navActiveBtnColor {color:$navActiveBtnColor};
#navActiveBtnBG {color:$navActiveBtnBG};

#tableHeaderColor {color:$tableHeaderColor};
#tableHeaderBG {color:$tableHeaderBG};
/* End Variables */
body {
  background: $bodyBG;
}

.op-masthead, #op-menu-widget {
  background: $headerBG;
}

.op-masthead, #op-menu-widget {
  color: $headerColor;
}

.op-widget-horizontal-nav {
  background: $navBG;
}

.op-widget-horizontal-nav a {
  color: $navColor;
}

/* Pagination */
ul.pagination li a , button.webix_pager_item {
	color : $paginationBtnColor;
	background : $paginationBtnBG ;
}

ul.pagination li.active a, button.webix_pager_item_selected {
	color : $paginationActiveBtnColor;
	background : $paginationActiveBtnBG;
}

/* Buttons */
.btn, .webix-btn, .webixbutton, .webixtype_base, .webixtype_next, .webixtype_prev {
	color : $btnColor;
	background : $btnBG;
}

/* Tabs */
.nav-tabs li a, .webix_item_tab{
	color : $navBtnColor;
	background : $navBtnBG ;
}

.nav-tabs li.active a, .webix_item_tab .webix_selected {
	color : $navActiveBtnColor;
	background : $navActiveBtnBG;
}

/* Datatables */
table thead, .webix_ss_header, .webix_header, .webix_header>div, .webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header  {
	color : $tableHeaderColor;
	background: $tableHeaderBG;
}

