/*all variables here*/
$bodybg: #fff !default;

$headerbg: #444 !default;
$headercolor: #fff !default;

$navbg: #f0f0f0 !default;
$navcolor: #333 !default;

$paginationbtnbg : #3498db !default;
$paginationbtncolor : #fff !default;

$paginationactivebtncolor : #fff !default;
$paginationactivebtnbg : #27ae60 !default;

$btncolor : #fff !default;
$btnbg : #3498db !default;

$navbtncolor : #fff !default;
$navbtnbg : #a4b4bf !default;

$navactivebtncolor : #fff !default;
$navactivebtnbg : #3498db !default;

$tableheadercolor : #4a4a4a !default;
$tableheaderbg : #d2e3ef !default;
