/*All variables here*/
$bodyBG: #fff !default;
$headerBG: #000 !default;
$headerColor: #fff !default;
$navBG: #000 !default;
$navColor: #fff !default;

$paginationBtnBG : #fff !default;
$paginationBtnColor : #000 !default;

$paginationActiveBtnColor : #fff !default;
$paginationActiveBtnBG : #000 !default;

$btnColor : #fff !default;
$btnBG : #fff !default;

$navBtnColor : #000 !default;
$navBtnBG : #000 !default;

$navActiveBtnColor : #fff !default;
$navActiveBtnBG : #000 !default;

$tableHeaderColor : #fff !default;
$tableHeaderBG : #000 !default;